<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment 8</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <%if (age < 18 ) { %>
    <h2>Hey <%=fname%> <%=lname%> , How are you today ??</h2>
    <% } else { %>
    <h2>Hey <%=fname%> <%=lname%> , it's good to see you </h2>
    <% }%>
</body>
</html>